{% extends 'delta/common.html' %}
{% block title %}File #{{ file.id }} v. {{ file.version.number }} - {% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function () {
		$('select').change(function (){
			window.location.href = '{% url deltatext-detail file.id %}' + $(this).val() + '/';
		});
		$('#debug-toggle').click(function(){
			$('pre ol').toggle();
		})
	})
</script>
{% endblock %}
{% block content %}
<div class="code-box">
	<div class="header">
		<h2><a href="{% url deltatext-detail file.id %}" title="Show">File #{{ file.id }}</a> v. {{ file.version.number }}</h2>
		<ul class="menu">
			<li>commited {{ file.version.date_commited|date:"d.m.y H:i" }}</li>
			<li><a href="{% url deltatext-update file.id %}" title="Edit">Edit</a></li>
			<li><a href="{% url deltatext-delete file.id %}" title="Delete">Delete</a></li>
		</ul>
	</div>
	<table cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="number">
					<pre>{% for o in file.rtext_list %}<span>{{ forloop.counter }}</span>{% endfor %}</pre>							
				</td>
				<td class="file" width="100%">
					<pre>{{file.rtext}}</pre>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="side-menu">
	<p>Show version {{ form.versions }} </p>
	{% ifnotequal file.version.number file.version_count %}
	<p>
		<a href = "{% url deltatext-revert file.id file.version.number %}">
			Revert to version {{ file.version.number}}
		</a>
	</p>
	<p>
		<a href = "{% url deltatext-restore file.id file.version.number %}">
			Restore to version {{ file.version.number}}
		</a>
	</p>{% endifnotequal %}
</div>
<div class="clear"></div>
<h2 id="debug-toggle" style="cursor:pointer">Show/Hide Version Tree</h2>
<pre><ol style="display:none">
{% for v in file.listVersions %}
	<li>{%if not v.differs %}<em>{%else%}{{v.differs.number|add:1}} + {%endif%}{{v.getDelta}} -> {{v.file_unpacked|pprint}} {%if not v.differs %}</em>{%endif%}</li>
{%endfor%}
</ol></pre>
{% endblock %}
