{% extends 'delta/common.html' %}
{% block title %}View files - {%endblock%}
{% block content %}
<ul>
{% for file in object_list %}
<li class="code-box">
	<div class="header">
		<a href="{% url vcfile-detail file.id %}" title="Show"><h2>File #{{ file.id }}</h2></a>
		<ul class="menu">
			<li>{{ file.version_count }} version{{ file.version_count|pluralize }} so far,</li>
			<li>recently edited on {{ file.last_edit|date:"d.m.y H:i" }}</li>
			<li><a href="{% url vcfile-update file.id %}" title="Edit">Edit</a></li>
			<li><a href="{% url vcfile-delete file.id %}" title="Delete">Delete</a></li>
		</ul>
	</div>
	<table cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td class="number">
					<pre>{% for o in file.head_list|slice:":3" %}<span>{{ forloop.counter }}</span>{% endfor %}</pre>							
				</td>
				<td class="file" width="100%">
					<pre>{% for line in file.head_list|slice:":3" %}{{ line }}
{% endfor %}</pre>
				</td>
			</tr>
		</tbody>
	</table>
</li>
{% endfor %}
</ul>
{% endblock %}